<div class="container">
    <h1 class="display-3"><%= @city.name %></h1>
    <h3 class="diplay-5">Découvre les potins locaux : </h3>
    <div class="list-group">
        <% @gossips.each do |gossip| %>
            <a href= <%= gossip_path(gossip.id) %> class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><%= gossip.title%></h5>
                    <small><%= gossip.created_at.in_time_zone('GMT') %></small>
                </div>
                <p class="mb-1"><%= gossip.content %></p>
                <small><%= gossip.user.first_name %></small>
            </a> 
        <% end %>
    </div>    
</div>
